# PostgreSQL
POSTGRES_USER=airflow #If you want to add your  user, you need to change the healthcheck CMD.
POSTGRES_PASSWORD="YOUR PASSWORD"
POSTGRES_DB=airflow 
POSTGRES_HOST=postgres


# Airflow
_AIRFLOW_WWW_USER_USERNAME="YOUR USER"
_AIRFLOW_WWW_USER_PASSWORD="YOUR PASSWORD"
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:<YOUR PASSWORD>@postgres:5432/airflow
AIRFLOW__CORE__FERNET_KEY=#RUN THIS python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
AIRFLOW_UID=
AIRFLOW__CORE__SECRET_KEY=#RUN THIS python -c "import secrets; print(secrets.token_hex(32))"
AIRFLOW__API_AUTH__JWT_SECRET=#RUN THIS python -c "import secrets; print(secrets.token_hex(32))"